<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DEVNITY</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="shortcut icon" th:href="@{/images/common/favicon.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">

    <th:block layout:fragment="css"></th:block>
</head>
</html>